.containerTotal {
    min-height: 78vh;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.containerButton {
    margin-top: 5px;
    height: 15rem;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 5px;
    flex-direction: column;
}

.containerPurchased {
    background-color: #000;
    min-height: 48vh;
    min-width: 72%;
    margin-bottom: 20px;
    border-radius: 10px;
}
.emptyContent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48vh;
}
.empty {
    text-align: center;
    font-size: 3rem;
    color: #fff;
}
/* .containerPurchased {
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-wrap: wrap;
    min-width: 80%;
} */
.itemConsole {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    background-color: #efefef;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.itemConsole p {
    font-size: 1.5rem;
}
.purchasedProducts {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.deletePurchasedProduct {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 78vw;
}
.deletePurchasedProduct button {
    background: none;
    border: none;
}
.deletePurchasedProductButton {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: all ease 0.3s;
}
.deletePurchasedProductButton:hover {
    scale: 1.2;
}
.imagen {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.customInputFile .inputFile {
    color: #fff !important;
    padding-right: 20px;
}
