.containerButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
.link {
    text-decoration: none;
    border: solid black;
    color: white;
    font-size: 2rem;
    padding: 5px;
    background-color: brown;
}
.button {
    border: solid black;
    color: white;
    font-size: 2rem;
    padding: 5px;
    background-color: brown;
}
