.total {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    font-size: 2rem;
    position: absolute;
    bottom: 15vh;
    width: 50%;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.5);
}
