.itemConsole {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    margin: 2rem;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
}
.imagen {
    width: 8rem;
}
.name {
    padding: 1rem;
}
.divArticulo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}
.ListConsoles {
    display: flex;
    justify-content: center;
    align-items: center;
}
