.itemConsole {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: #efefef;
    flex-wrap: wrap;
    margin: 3px;
    padding: 10px;
}
.imagen {
    width: 8rem;
}
