.itemConsole {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 400px;
    min-height: 400px;
    background-color: #efefef;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    background-color: rgb(136, 133, 135);
}
.itemConsole * {
    padding: 5px;
}

.imagen {
    width: 15rem;
    height: 15rem;
    max-height: 9rem;
}
.imagendiv {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    min-width: 70%;
    min-height: 40%;
}
.cart {
    font-size: 1.5rem;
}
