.imgProducts {
    margin: 0 auto;
    width: 200px;
    height: 172px;
}
.cardProduct {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.3);

    transition: all 0.3s ease;
    width: 100%;
}
.cardProduct:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}
.nameCardproduct {
    font-size: 15px;
}
.linkFavoritesAndCart {
    cursor: pointer;
}
.linkFavoritesAndCart:hover {
    opacity: 0.7;
}
.priceProduct {
    font-size: 1.2rem;
    font-weight: 400;
}

@media (max-width: 500px) {
    .imgProducts {
        width: 200px;
        height: 160px;
    }
    .cardProduct {
        height: 335px;
    }
}
