.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 78vh;
    font-size: 5rem;
}

.formularioSubmit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34, 34, 145);
    min-height: 25rem;
    min-width: 30rem;
    border-radius: 10px;
}
.letrasFormulario {
    font-size: 2rem;
    color: white;
    padding: 1rem;
}

.letrasRedirigir {
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    transition: color 0.4s ease;
    margin-bottom: 0.3rem;
}
.letrasRedirigir:hover {
    border: solid 2px white;
    border-radius: 3px;
}
.formularioValores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}
.button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    cursor: pointer;
}
.button:hover {
    color: #1883ba;
    background-color: #ffffff;
}

.label {
    margin: 3px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}
.label:click {
    box-shadow: #666666;
}
.imagenProfile {
    margin-right: 100px;
}
