.headerNav {
    min-height: 80px;
    /* overflow: hidden; */
    background-color: rgb(252, 252, 252);
}
.logoRol * {
    padding: 5px;
}
.rol {
    font-size: 20px;
    margin-left: 15px;
    color: blue;
}
.linksHeader:hover {
    background-color: aliceblue !important;
}
.bubbleAlert {
    position: relative;
    background-color: #d16666;
    border-radius: 15px;
    color: #fff;
    padding: 2px 8px;
    font-size: 0.9rem;
    right: 12px;
    top: 10px;
}
